body{
    margin: 2vw auto;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    margin-left: 5vw;
    margin-bottom: 1vw;   
}

.box-label{
    display: inline-block;
    width: 80px;
    text-align: right;

}

.box input{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px 10px;
}

#submit {
    margin-right: 5vw;
}